@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@200&display=swap');

.content_bg {
    background-image: url('../../public/bg.svg');
    /* height: ; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}