@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@200;500&display=swap');

html, body {
  height: 100%;
  margin: 0;
}
.container {
  height: 100%;
}

.slanted {
    position: relative;
    width: 100%;
    height: 700px;
    background-color:#F2F7FF;
    margin-bottom: 300px;
}





.graph {
  width: 500px;
}


@media (max-width: 768px) {
  .content_bg {
    background-image: none;
    width: 100%;
  }
  .service_img {
      width:100%;
    }
    ._image {
      width: 100%;
    }
    .logo {
      width:100px
    }
     .about_img {
      width:100%
    }
}

@media (min-width: 1024px) {
  ._image {
    width: 700px;
  }
  ._properties {
    z-index: 0;
  }
  ._property-div {
    background-color: white;
    z-index: 99;
  }
  .content_bg {
    background-image: url('../../public/bg.svg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .service_img {
    width:800px;
  }
  .slanted {
    position: relative;
    width: 100%;
    height: 600px;
    background-color:#F2F7FF;
    margin-bottom: 300px;
}
  .slanted::after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    content:'';
    background-color:inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: top right;
    transform: skewY(-3deg);
}
}

@media (min-width: 1200px) {
  ._image {
    width: 1320px;
    margin: auto;
  }
   .content_bg {
    background-image: url('../../public/bg.svg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .service_img {
    width:1000px;
  }
  .slanted {
    position: relative;
    width: 100%;
    height: 700px;
    background-color:#F2F7FF;
    margin-bottom: 300px;
}
  .slanted::after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    content:'';
    background-color:inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: top right;
    transform: skewY(-3deg);
}
}

@media (min-width: 2560px) {
  ._image {
    width: 1400px;
    margin: auto;
  }
  .content_bg {
    background-image: url('../../public/bg.svg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.service_img {
        width: 1400px;

  }
  .slanted::after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    content:'';
    background-color:inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: top right;
    transform: skewY(-3deg);
}
}







